
@import '../../assets/styles/_mixin';
@import '../../assets/styles/variables';


@include modalForm(572px);
.layout__container-wrapper
{
    position:relative;
    background-color: rgb(255, 255, 255);
    .layout__header
    {
        .btn-close
        {
            position:absolute;
            top: 17px;
          right: -26px;
        }
    }
    .wrapper
    {
        text-align: left;
        span{
            display:block;
            margin-top:5px;
            margin-bottom: -5px;
            color:#acadb0 ;
            font-size: 0.9rem;
        }
        .style__icon
        {
            margin-right: 5px;
        }
        label
        {
            font-weight: 700;
        }
        .input__wrapper
        {
            display: flex;
            align-items: center;
            width: 100%;
            padding-left: 15px;
            position:relative;
            border:1px solid #e8eaef;
            border-radius: 5px;
            color: $secondary-color;
            margin: 12px 0;
            input
                    {
                    padding: 12px 10px;
                    width: -webkit-fill-available;
                    border:none;
                    outline: none;
                    font-size: 1.2rem;
                    background-color: transparent;
                    }
        }
    }
}

