.background-profile
{
    height: 26vw;
    background-position: right 100%;
}

.profile-sec
{
    height:auto;
    // background: #e8eaef;
    background:#91a5d6;
    position: relative;
    padding: 20px 0 40px;
    .content-profile--new {
        align-items: center;
        justify-content: center;
        max-width: 1260px;
        margin: 0 auto;
        width: 85%;
        height:200px;
    
    }
}
.desc-profile 
{
    max-width: 1260px;
    width: 85%;
    position: relative;
    margin:auto;
    height: 150px;
}
.desc-profile.desc-account
{
    width:100%;
}
.desc-profile.desc-account .avatar-box
{
    width: 20%;
    position:relative;
    .avatar-box--layout{
        width:100%;
        line-height: 200px;
        position: absolute;
        top: -100px;
        .avatar-wrapper
        {
            width: 200px;
            height: 200px;
            position:relative;
            .myavatar
            {
                
                width: 100%;
                height: 100%;
                border-radius:50%;
                object-fit:cover;
                border: 4px solid green;
                &:hover{
                    cursor:pointer;
                }
            }
        }
    }
}

.desc-profile.desc-account .snippet
{
    width:70%;
    position:absolute;
    right:0;
    .profile-infor{
        margin-bottom:10px;
    }
}
.item-title
{
    display: flex;
    align-items: center;
    margin-top: 20px;
    h2 {
        font-size:2.6rem;
        font-weight:700;
        display:inline-block;
    }
    span{
        margin-left:10px;
        .btn-edit--user
            {
                border:none;
                .icon-edit-user{
                    font-size:2rem;
                }
            }
    }
    
}
    .d-flex{
        font-size: 1.2rem;
        display: flex !important;
        justify-content: space-between !important;
    }   

    .desc-profile.desc-account .line-info {
        width: 100%;
       margin-top:20px;
       .d-flex{
        font-size: 1.2rem;
        
        align-items: center;
    }   
        
    }

    .line-infor .infor{
        display: flex;
        flex-direction: column;
        // margin-right: 1rem;
        background: hsla(0,0%,100%,.8);
        border: 1px solid #fff;
        border-radius: 5px;
        padding: 0.25rem 1rem;
        width: 49%;
        align-items: center;
        min-height: 58px;
    }
    span.label{
        color: #6e6e6e;
        font-size: 1rem;
        font-weight: 700;
        margin-bottom: 0.25rem;
    }
    span.ctn{
        position: relative;
        font-size: 1rem;
        font-weight: 400 !important;
        text-align: center;
    }

    .information.information--desc{
        height:100%;
        .inside {
            height:100%;
            width: 70%;
            float: right;
            border-radius: 5px;
            padding: 1.5rem 0;
            background: hsla(0,0%,100%,.8);
            margin-bottom:1.5rem;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
}
    } 

    .inside ul {
        align-items: flex-start;
        text-align: center;
        list-style-type: none;
        display:flex;
        justify-content: space-between;
        li {
            position: relative;
            // width: 25%;
            padding: 0 20px;
            span{
                font-size:1.5rem;
                &.ctn{
                    color:red;
                    font-size:1rem;
                    label{
                        margin-top:10px;
                        font-weight:500;
                    }
                }
                .btn-edit--user
                    {
                        margin-bottom: 5px;
                        background-color: transparent;
                        margin-left:50px;
                        border:none;
                        // background: transparent;
                    }
            }
        }
    }

    .btn-edit--user 
    {
        background: transparent;
    }


///@at-root



.car__photo{
    width:100%;
    max-width: 670px;
    .img-boxitem
    {
        position:relative;
        .btn-close
        {
            position:absolute;
            right:0;
            z-index: 1;
            font-size: 1rem;
            border:none;
            outline:none;
        }
    }
    .obj-photo.hide{
        display:none;
    }
    .obj-photo
    {
        height:200px;
        width:50%;
        background-color: #f8f9fb;
        position:relative;
        .ins {
            position: absolute;
            top: 50%;
            left: 50%;
            text-align: center;
            transform: translate(-50%,-50%);
        }
        .fileUploader{
            width: 100%;
            .file-container{
                box-shadow: none;
                background: transparent;
                position: relative;
                border-radius: 10px;
                padding: 20px 0;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                margin: 10px auto;
                transition: all .3s ease-in;
            }
            
        }
    }
}

.car__photo
{
    ul.photo__box{
        padding-left:0;
        display:flex;
        flex-wrap:wrap;
        list-style-type: none;
        justify-content: center;
        li{
            margin: 5px;
            width:45%;
            .obj-photo{
                border: 2px solid #ccc;
                width:100%;
            }
        }
    }
    input[type="file"] {
        opacity:0;
        position: absolute;
        width: 100%;
        padding: 9px 19px;
       cursor: pointer;

    }
}

//---------------------------------RESPONSIVE------------------------------------------------

@media (max-width:992px) {
    .desc-profile 
    {
        height:180px;
    }
    .information.information--desc
    {
        .inside {
            height:100%;
            width: 100%;
            ul{
                flex-direction: column;
                li {
                    width: 100%;
                    position: relative;
                    padding: 0; 
                    span{
                        width:100%;
                        font-size:1.1rem;
                        display: flex;
                        width: 100%;
                        justify-content: space-around;
                    }
                }
            }
        }
    }
    .infor{
        width:20%;
    }
}
@media (max-width:768px){
    .desc-profile.desc-account 
    {
        display:flex;
        flex-direction:column;
    }
}