$primary-color: #fff;
$secondary-color:#00a550;
$dark-color: #141414;

@mixin styleButton {
    background-color: transparent;
    border:none;
    color:#fff;
}
@mixin InputLine 
{
    .input__line
    {
        border-bottom: 2px solid rgb(77, 55, 191);
        margin-top:6px;
    }
}

@mixin modalForm ($formWidth){
    .modal__container{
        z-index: 2;
    }
    .modal__container.hidden {
        display:none;
    }
    .layout__container
    {
        margin:auto auto;
        max-width: $formWidth;
        width:90%;
        border-radius:5px;
        display:flex;
        background-color: $primary-color;
        flex-direction: column;
        position:relative;
        .layout__container-wrapper 
        {
            width: 85%;
            padding-bottom: 30px;
            margin:auto auto;
            .layout__header
            {
                padding: 30px;
                .title__header
                {
                    font-weight: 700;
                    font-size: 2.1rem;
                    text-align: center;
                }
            }
        }

        form {

            width: 100%;
            display: flex;
            flex-direction: column;
            p
            {
               text-align: right;
               font-size: 1.3rem;
               button {
                  color:#000;
                  border:none;
                  background-color: transparent;
               }
            }
            .error_messages
            {
              text-align: left;
              font-size: 1rem;
              font-weight: 600;
              color:red;
              padding-left:30px;
            }
        .input__wrapper
        {
           display: flex;
           align-items: center;
           width: 100%;
           padding-left: 15px;
           position:relative;
           border:1px solid #e8eaef;
           border-radius: 5px;
           color: $secondary-color;
           margin: 12px 0;
           input
                {
                padding: 12px 10px;
                width: -webkit-fill-available;
                border:none;
                outline: none;
                font-size: 1.2rem;
                background-color: transparent;
                }
         }
         }
    }
    // .layout__container.hidden{
    //     display:none;
    //   }
}   


//-----------------------------RESPONSIVE----------------------------------
@mixin ResponsiveLayout 
{
    @media (max-width: 992px) {	
        .layout__header{
            .title__header
            {
                color:green;
            }
        }
        .access__btn
        {
            padding:10px !important;
        }
    }
    @media (max-width: 768px) {
    
        .access__button-share
        {
            .button__share-item
            {
                a
                {
                    padding: 15px 26px !important;
                }
            }
        
         }
    
    }

}